<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CampusBridge{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
</head>
<body>
    <nav>
    <a href="/"><img src="{{ url_for('static', filename='logo.svg') }}" alt="CampusBridge" class="logo"></a>
    <a href="/add-property">+ Add a Property</a>
</nav>
    <hr>
        {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="toast-container">
        {% for message in messages %}
            <div class="toast">{{ message }}</div>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}

    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>